.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
scripts/**
.gitignore
.yarnrc
esbuild.js
.oxlintrc.json
.oxfmtrc.json
.npmrc
vitest.config.mts
pnpm-workspace.yaml
**/tsconfig.json
**/*.map
**/*.ts
**/.vscode-test.*
pnpm-lock.yaml
.github/**
coverage/**
renovate.json
.gitattributes
*.vsix
